@mixin base() {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    color: white;
    padding: 24px;
    width: 100%;
}

&-card {
    @include base;
    @import "heading";
    @import "content";
    @import "actions";
    @import "action";
}