@mixin base() {
    background-color: rgba(white, 0.15);
    border-radius: 3px;
    color: #fff;
    padding: 24px;
    width: 100%;
}

&-card {
    @include base;
    @import "heading";
    @import "content";
    @import "actions";
    @import "action";
}