@mixin base() {
    display: block;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;

    @media screen and (min-width: 600px) {
        width: 75%;
    }

    @media screen and (min-width: 868px) {
        width: 60%;
    }

    @media screen and (min-width: 1170px) {
        width: auto;
    }

}

.my-logo-title {
    @include base;
}