@mixin base() {
    @media (min-width: 600px) {
        align-items: stretch;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

&-grid {
    @include base;
    @import "item";
}