@mixin base() {
    background-color: $component-em-background-color;
    color: $component-em-text-color;
    width: 100%;
}

&-card {
    @include base;
    @import "heading";
    @import "content";
    @import "actions";
    @import "action";
}