@mixin base() {

    @media screen and (min-width: 600px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; 
    }
}

&-grid {
    @include base;

    @import "item";
}