@mixin base() {

    @media screen and (min-width: 600px) {
        align-items: stretch;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}

&-grid {
    @include base;

    @import "item";
}