@mixin base() {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  width: 100%;

  &:last-of-type {
    margin-bottom: 2rem !important;
  }

  @media (min-width: 600px) {
    width: 100%;
    margin-right: 2rem;

    &:last-child {
      margin-right: 0;
    }
  }

  @media (min-width: 868px) {
    width: calc(33.3333% - 2rem);
    margin-right: 2rem;

    &:last-of-type {
      margin-right: 0;
    }
  }

}

&__item {
    @include base;
}