@import "normalize";

html {
    height: 100%;
}

body {
    background-color: #11182A;
    color: #fff;
    height: 100%;
    text-align: center;
}

ul,
ol {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}